@using Sushi.Models
@model Sushi.Models.MainViewModel
@{
    ViewBag.Title = "Доставка";
}
<div class="content">
    <h1 class="delivery_z">Доставка</h1>
    <div class="delivery-info">
        <div><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus temporibus sequi fugiat quos. Mollitia perferendis modi qui praesentium quia officiis quidem. Ut adipisci nobis corrupti, deserunt vel, non, incidunt deleniti quidem minima eius cupiditate quis magnam facilis neque similique. Molestiae voluptatibus eum natus eaque culpa consequuntur repellendus, magnam inventore ratione.</p></div>
        <img src="upload/images/доставка-scaled.jpg" alt="Питушыч">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit aut harum architecto blanditiis id quia corrupti nihil. Repellendus nostrum consequatur, totam ea impedit atque repellat, inventore voluptate ad aliquid laborum at enim, dolores ullam distinctio nulla quia accusantium! Corporis repudiandae ipsa necessitatibus aperiam eius, hic error soluta! Fuga temporibus tempore eius cum quisquam debitis voluptas, laborum, obcaecati voluptates quo impedit natus ab rerum ut voluptatibus deserunt aspernatur! Esse cupiditate repellat dolorum fuga, laudantium, asperiores deleniti id laborum suscipit quibusdam in sequi iure, repellendus saepe odit eum? Vero itaque aperiam nam nemo porro quo dicta, adipisci, dolor laborum ex sit voluptatum, eum fugiat esse quibusdam? Porro impedit eveniet tempore, eum nemo dolores numquam sapiente aliquid. Hic quam itaque quod quasi cumque eaque eius est, veritatis totam sed aperiam numquam distinctio illo asperiores id tempore, magni excepturi officiis, nihil ipsam eveniet odit? Eum minima alias magnam asperiores ipsum non sunt nisi labore.</p>
        <div class="outro">
        <span>Притного вам аппетита!!!</span>
        </div>
    </div>                                    
</div>
@section scripts {
    <script src="~/Scripts/slider.js"></script>
}