@using Sushi.Models
@model Sushi.Models.MainViewModel
@{
    ViewBag.Title = "Главная";
}
<div class="content">
    <ul id="slides">
        <li class="slide showing">Slide 1</li>
        <li class="slide">Slide 2</li>
        <li class="slide">Slide 3</li>
        <li class="slide">Slide 4</li>
        <li class="slide">Slide 5</li>
    </ul>

    <div class="category">
        @foreach (Category category in Model.Categories)
        {
            <div class="item-category">
                <img src="upload/images/@category.category_image" alt="сеты">
                <a href="#" class="img-category"></a>
                <a href="@category.categoryId"><span class="name-category">@category.category_name</span></a>
            </div>
        }
    </div>
</div>

@section scripts {
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/slider.js"></script>
}