@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
        
        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "obl", style= "color:#ED5B00" })
        @Html.ActionLink("Выйти", "LogOff", "Account", routeValues: null, htmlAttributes: new { title = "Manage", @class="obl" })
}
else
{
    <span>Мой профиль:</span>
    @Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "obl" })
}
